/* 
 * 모든 layout에 공통으로 사용될 style
 * */
body {
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', serif;
	overflow: hidden;
}
.mainTitle {
	width: 1024px;
	height: 106px;
	background: url(../res/bodyTitle.png) no-repeat left top;
}
.mainContainer {
	width: 1024px;
	height: 617px;
}
.mainBottom {
	width: 1024px;
	height: 48px;
	background: url(../res/bodyBottom.png) no-repeat left top;
}
.floatLeft { float: left; }
.floatRight { float: right; }
.both { both: clear; }
.white {
	background-color: #FFFFFF;
	
}
.shadow {
	-webkit-box-shadow:rgba(91, 91, 91, 0.5) 1px 2px 3px;
}
.navigationBar {
	display: inline-block;
	background: url(../res/bodyNavigation.png) no-repeat left top;
	width: 965px;
	height: 70px;
	margin: 15px 0 0 30px;
}
.navigationBackButton {
	width: 196px;
	height: 70px;
	cursor: pointer;
}
.navigationTitle {
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	width: 749px;
	height: 70px;
	font-size: 60px;
	color: #FFFFFF;
}
.content {
	width: 960px;
	height: 535px;
	margin-left: 30px;
	margin-top: 15px;
}
