.locationEmpty { 
	float: left;
}

.locationMenu {
	width: 290px;
	height: 150px;
	background: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	float: left;
	margin: 10px;
	border: solid 1px #AAAAAA;
}

.locationMenuText{
	height: 60px;
	width: 270px;
	font-size: 20px;
	margin: 45px auto;
}
.locationLine1 {
	display:table-cell;
}
